*-tmp*
.idea
.#*
*.projectile
docs/source/notebooks/*.rst
docs/source/notebooks/*.tex
docs/source/notebooks/*_files
venv
*.pyc
.DS_Store
*~
#*
auto
build
*.fdb_latexmk
*.fls
*.blg
*.log
*.aux
*.out
*.bbl
*.blg
.vagrant
.env
.ipynb_checkpoints
