recommonmark
sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex
foundation-sphinx-theme
sphinx_bootstrap_theme
sphinxcontrib-fulltoc
sphinx-prompt
pybtex
watchdog
Pygments
jupyter
nbconvert
ghp-import
requests
pandas
