
.prompt1 {
    white-space: pre;
    margin: 0;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 12px;
    line-height: 1;
    overflow: auto;
    color: #404040;
    box-sizing: border-box;
}

.highlight {
    font-family: monospace,serif;
    border: 1px solid #e1e4e5;
    padding: 12pt 12pt;
    background-color: #d3d3d3;
}
 
.prompt3 {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #e1e4e5;
    padding: 0px;
    overflow-x: auto;
    background: #fff;
    margin: 1px 0 24px 0;
}
